.evolution-container {
  background-color: #1e2b39;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform ease 0.2s
}

.evolution-container:hover {
  transform: scale(1.02);
}

.evolution-container h1 {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  color: #CEE0F1;
}

.evolution-container h2 {
  margin: 0;
  font-weight: lighter;
  font-size: 18px;
  color: #CEE0F1;
}

.chain-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.evolution-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-chain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pokemon-chain-top {
  text-align: center;
}

.blue-circle {
  width: 150px;
  height: 150px;
  background: radial-gradient(circle at 30% 30%, #3f7acc, #295dad);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 12px rgba(63, 122, 204, 0.3);
}

.blue-circle:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px rgba(63, 122, 204, 0.8);
  cursor: pointer;
}

.blue-circle:hover img {
  transform: rotate(10deg) scale(1.05);
}

.blue-circle img {
  width: 130px;
  height: 130px;
  transition: transform 0.4s ease;
}

.chain-name {
  font-size: 20px;
  color: #CEE0F1;
  margin-top: 8px;
  font-weight: bold;
}

.chain-types {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.arrow-right {
  color: #ffffffbb;
  font-size: 80px;
  margin-inline: 50px;
  transform: translateY(-30px);
  transition: transform 0.3s ease, color 0.3s ease;
}

.evolution-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 900px) {
  .evolution-container{
    width: (100vw - 100px);
  }

  .chain-container{
    flex-direction: column;
  }

  .evolution-stage{
    flex-direction: column;
  }

  .arrow-right{
    transform: translateY(0);
    transform: rotate(90deg);
  }
}