.filter-container{
  display: flex;
  align-items: center;
}

.filter-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  margin-right: 12px;
}

.dropdown-selected {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  padding-right: 20px;
  background-color: #1e293b;
  border: 1px solid #334155;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  width: 180px;
  user-select: none;
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

.dropdown-selected:hover{
  background-color: #334155;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.dropdown-selected.close{
  animation: close 0.2s;
}

.dropdown-selected.a:hover{
  box-shadow: rgba(255, 255, 255, 0.158) 0px 0px 0.25em, rgba(255, 255, 255, 0.05) 0px 0.25em 1em;
  transition: 0.1s linear;
}

.dropdown-selected.open{
  border-radius: 10px 10px 0 0;
  border-bottom-color: #cccccc31;
}

.arrow-icon{
  font-size: 17px;
}

.arrow-icon.up{
  transform: rotate(180deg);
  animation: rotateUp 0.2s linear;
}
.arrow-icon.down{
  animation: rotateDown 0.2s linear;
}

.dropdown-options {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  background-color: #1e293b;
  z-index: 10;
  font-size: 16px;
  color: #fff;
  width: 216px;
  height: 0;
}

.dropdown-options.open {
  animation: slideDown 0.2s linear;
  overflow: hidden;
  animation-fill-mode: forwards;
  border-radius: 0 0 8px 8px;
  border: 1px solid #334155;
}

.dropdown-options.close {
  animation: slideUp 0.1s linear;
  overflow: hidden;
}

.dropdown-option{
  display: flex;
  padding-left: 16px;
  padding-block: 10px;
  user-select: none;
}

.dropdown-option:hover{
  cursor: pointer;
  background-color: #1a74cd;
  transition: 0.1s linear;
}

@keyframes slideDown {
  0%{
    border: 1px solid rgba(255, 255, 255, 0.233);
    border-top: 0;
  }
  100%{
    height: 165px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    border-top: 0;
  }
}

@keyframes slideUp {
  0%{
    height: 165px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    border-top: 0;
  }
  99.99%{
    border: 1px solid rgba(255, 255, 255, 0.233);
    border-top: 0;
  }
  100%{
    padding: 0;
  }
}

@keyframes close {
  0%{
    border-radius: 10px 10px 0 0;
  }
  99.99%{
    border-radius: 10px 10px 0 0;
  }
  100%{
    border-radius: 10px;
  }
}

@keyframes rotateUp {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg)
  }
}

@keyframes rotateDown {
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0deg)
  }
}

@media (max-width: 900px) {
  .filter-container{
    margin-top: 40px;
  }
}